body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #4c2e12;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #000000;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a{
    color: #000000;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu{
    display: none;
}


.content {
    padding: 20px;
    margin: 20px 20px 20px 20px; /* Adjusted margins to ensure spacing */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content h2 {
    color: #000000;
    height: 20px;
    width: 100%;
    text-align: center;
}

.content p{
    color: #000000;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

  
  .card {
    border: 1px solid #a29d9d;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    width: calc(30% - 20px);
    box-sizing: border-box;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-image img {
    border-radius: 30px;
    margin-bottom: 10px;
    width: 250px;
    align-self: center;
  }
  
  .card-content {
    flex: 1;
  }
  
  .card-content h3 {
    margin: 0;
    color: #000000;
    text-align: center;
  }
